/* App.css */

.global-button {
  background-color: #AC3B61;
  color: white;
  border: none;
  border-radius: 4px; /* Rounded corners */
  padding: 10px 20px; /* Add some padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Add a shadow */
  white-space: nowrap; /* Prevent the text from wrapping onto multiple lines */
  overflow: hidden; /* Hide any text that overflows the button */
  text-overflow: ellipsis; /* Add an ellipsis (...) when the text overflows */
  width: 100%;
  margin-bottom: 2px;
}

.global-button:hover {
  background-color: #007BFF; /* Darken the button when hovered */
}

.global-button:active {
  background-color: #0056b3; /* Darken the button when clicked */
  box-shadow: 0 1px 2px rgba(0,0,0,0.5); /* Make the shadow smaller when clicked */
}

.global-button.selected {
  background-color: #4CAF50;
  color: white;
}
/* app container */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Buttons container */

.global-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secondary-components {
  display: flex;
  justify-content: space-around; /* Distribute buttons evenly */
  align-items: center; 
  background-color: #f2f2f2; 
  padding: 10px; 
  border-radius: 4px; /* Rounded corners */
}

.secondary-components * {
  flex: 1; 
  height: 50px; 
  padding: 10px; 
  font-size: 16px; 
  margin: 0 5px; /* Add some space between buttons */
  align-self: center;
  transition: background-color 0.3s ease;
  border-radius: 4px; /* Rounded corners */
  border: none; /* Remove border */
  background-color: #3F51B5; /* Android blue color */
  color: white; /* White text */
}

.secondary-components *:focus {
  outline: none; /* Remove outline */
}

.secondary-components *:active {
  background-color: #303F9F; /* Darken background color when button is active */
}

.container {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  padding: 20px;
}


.items-container {
  margin-top: 20px; /* Creates space above the items */
  padding: 10px;
  border: 1px solid #ccc; /* Adds a border around the items */
  border-radius: 5px; /* Rounds the corners of the border */
}

button {
  background-color: #4CAF50; /* Green */
}

/* Common button class */
.common-button {
  width: 100%; /* Full width */
  height: 50px; /* Or any other value */
}

/* Existing orders button */
.existing-orders-button {
  margin: 2%;
  border-radius: 50px;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 600;
  width: flex;
  height: 120px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../src/GlobalFunctionality/img/pending.jpeg");
  background-size: cover;
  background-position: center;
}

.existing-orders-button:hover {
  font-size: 42px;
  transition: font-size 0.1s;
  background-size: 110%;
}

/* New order button */
.new-order-button {
  margin: 2%;
  border-radius: 50px;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 600;
  width: flex;
  height: 120px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../src/GlobalFunctionality/img/neworder.jpeg");
  background-size: cover;
  background-position: center;
}

.new-order-button:hover {
  font-size: 42px;
  transition: font-size 0.1s;
  background-size: 110%;
}

.kitchen-button {
  margin: 2%;
  border-radius: 50px;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 600;
  width: flex;
  height: 120px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../src/GlobalFunctionality/img/kitchen.jpg");
  background-size: cover;
  background-position: center;
}

.kitchen-button:hover {
  font-size: 42px;
  transition: font-size 0.1s;
  background-size: 110%;
}

/* Order History Button */
.order-history-button {
  margin: 2%;
  border-radius: 50px;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 600;
  width: flex;
  height: 120px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../src/GlobalFunctionality/img/orderhistory.jpeg");
  background-size: cover;
  background-position: center;
}

.order-history-button:hover {
  font-size: 42px;
  transition: font-size 0.1s;
  background-size: 110%;
}

.closed-orders {
  margin: 5px;
}


.order-history-button:hover {
  background-color: #EDC7B7; /* Darker shade for hover */
}

/* Item Selector */

.item-selector {
  border: 1px solid black;  /* Removes the border */
  height: 40px; /* Matches the height of the button */
  font-size: 16px; /* Matches the font size of the button */
  background-color: white; /* Changes the background color to white */
  color: black; /* Changes the text color to black */
  
  box-sizing: border-box; 
}

.item-selector:hover {
  background-color: white; /* Matches the hover color of the button */
}

button:hover {
  background-color: #45a049;
}

/* Add to order button */

.add-to-order-button {
  background-color: #4a85c9; /* Green background */
  color: white; /* White text */
}

.add-to-order-button:hover {
  background-color: #146150; /* Darker green on hover */
}

/* Send order button */

.send-order-button {
  background-color: #d0da4a; /* Green background */
  color: white; /* White text */
}

.send-order-button:hover {
  background-color: #ceab4a; /* Darker green on hover */
}

/* Dynamic button for Item */

.group {
  margin: 1px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 1px;
  width: 100%; /* Adjust this value as needed */
  
  gap: 1px;
  height: auto; /* Adjust this value as needed */
  display: flex;
  flex-direction: row; /* Change this to row */
  flex-wrap: wrap; /* Add this to allow the buttons to wrap to the next line */
  justify-content: center; /* Center items horizontally */
  align-items: center;
}

.group .category-name {
  font-size: 20px; /* Make the font larger */
  font-weight: bold; /* Make the font bold */
  text-align: center; /* Center the text */
  width: 100%; /* Make the title take up the full width of the container */
  margin-bottom: 1px; /* Add some space below the title */
}


.container-dynamic-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the start */
  gap: 5px;
  height: auto; /* Adjust this value as needed */
  padding-top: 1px; /* Add some padding at the top */
}

.item-button {
  background-color: #124e66;
  color: white;
  border: none;
  border-radius: 4px; /* Rounded corners */
  padding: 10px 20px; /* Add some padding */
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  transition-duration: 0.4s;
  /* width: 90px; Remove the fixed width */
  height: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Add a shadow */
  white-space: nowrap; /* Prevent the text from wrapping onto multiple lines */
  overflow: hidden; /* Hide any text that overflows the button */
  text-overflow: ellipsis; /* Add an ellipsis (...) when the text overflows */
  margin: 5px;
}

.item-button:hover {
  background-color: #124e66;
  font-weight: bold;
  transition: color 0.5s, background-color 0.2s, font-weight 0.5s,
    box-shadow 0.5s;
  background-image: linear-gradient(
    to right,
    #208ab4,
    #1d7da3,
    #1a7092,
    #186a8a,
    #155d79,
    #124e66
  );
}

.item-button:active {
  background-color: #0056b3; /* Darken the button when clicked */
  box-shadow: 0 1px 2px rgba(0,0,0,0.5); /* Make the shadow smaller when clicked */
}

.item-button.selected {
  background-color: #4CAF50;
  color: white;
}
/*Dynamic button for Get Order from OrderList.js */




.get-order-button {
  background-color: #124e66;
  color: white;
  border: none;
  border-radius: 4px; /* Rounded corners */
  padding: 10px 20px; /* Add some padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Add a shadow */
  white-space: nowrap; /* Prevent the text from wrapping onto multiple lines */
  overflow: hidden; /* Hide any text that overflows the button */
  text-overflow: ellipsis; /* Add an ellipsis (...) when the text overflows */
  width: 100%;
  margin: 5px;
}


.get-order-button:hover {
  background-color: #007BFF; /* Darken the button when hovered */
}

.get-order-button:active {
  background-color: #0056b3; /* Darken the button when clicked */
  box-shadow: 0 1px 2px rgba(0,0,0,0.5); /* Make the shadow smaller when clicked */
}



/* Diplay field for Items to add in OrderList.js */

.order-container {
  
  width: 100vw; /* Make the container span the full width of the viewport */
}

.items-to-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.items-to-add h2 {
  color: #333;
  margin-bottom: 10px;
}

.items-to-add p {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  text-align: center;
}

.order-items-list {
  list-style-type: none; /* Remove the default bullet points */
  padding: 0; /* Remove the default padding */
}

.order-item {
  display: flex; /* Arrange the item name and price horizontally */
  justify-content: space-between; /* Add space between the item name and price */
  padding: 10px; /* Add some padding around each item */
  border-bottom: 1px solid #ddd; /* Add a border below each item */
}

.item-name {
  font-weight: bold; /* Make the item name bold */
}

.item-price {
  color: #888; /* Make the item price a lighter color */
}

.order-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Modal window styling */
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4); /* Add a semi-transparent background */
}

.ReactModal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  border: none; /* Remove the border */
  background: #fff;
  overflow: auto;
  WebkitOverflowScrolling: touch;
  borderRadius: 4px;
  outline: none;
  padding: 20px;
  width: 80vw; /* adjust this to change the width */
  height: 80vh; /* adjust this to change the height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12); /* Material Design shadow */
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.modal-button {
  color: white;
  border: none;
  border-radius: 4px; /* Rounded corners */
  font-size: 20px; /* Increase the font size */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px; /* Add padding to increase the size of the button */
}

.modal-button:hover {
  background-color: #00796b; /* Darken the background color on hover */
}

.modal-button:active {
  background-color: #00695c; /* Darken the background color even more when the button is clicked */
}

.modal-button.cancel {
  background-color: #c62828; /* Cold red */
}

.modal-button.cancel:hover {
  background-color: #b71c1c; /* Darken the background color on hover */
}

.modal-button.cancel:active {
  background-color: #d32f2f; /* Darken the background color even more when the button is clicked */
}

.modal-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-y: auto;
  flex-grow: 1;
  margin-bottom: 20px;
}

.modal-items p {
  margin: 0;
  padding: 5px;
  background-color: #f8f8f8;
  border-radius: 4px;
}

.total-price {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}

/* modal window styling finish */

/* App text start */

.app-text {
  font-family: 'Arial', sans-serif; /* Uses Arial, but you can choose any web-safe font */
  font-size: 14px; /* Standard readable size, adjust as necessary */
  line-height: 1.6; /* Ensures proper spacing between lines of text */
  color: #333; /* Dark gray for high contrast and readability */
  text-align: left; /* Default alignment to left, can be overridden as needed */
}

/* Specific styles for button text */
.app-text-button {
  font-size: 16px; /* Slightly larger font for button text */
  font-weight: bold; /* Bold text for emphasis */
  color: #ffffff; /* White text color for contrast on buttons */
  text-align: center; /* Center text inside buttons */
  padding: 8px 12px; /* Adequate padding for clickable area */
  background-color: #0066cc; /* Pleasant blue background */
  border-radius: 4px; /* Rounded corners for a modern look */
  border: none; /* No border for a cleaner appearance */
  cursor: pointer; /* Cursor changes to indicate clickable buttons */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

/* app text finish */

/* close order modal window start */



/* close order modal window finish */

/* Mobile first styles */
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8f8f8;
  color: #333;
}

@media (max-width: 600px) {
  .container-dynamic-button {
    grid-template-columns: repeat(4, auto); /* Creates a grid with 4 columns that are only as wide as their content */
  }

  .item-button {
    /* width: 60px; Remove the fixed width */
    /* height: 40px; Remove the fixed height */
    padding: 10px 20px; /* Add some padding */
    white-space: nowrap; /* Prevent the text from wrapping onto multiple lines */
    overflow: hidden; /* Hide any text that overflows the button */
    text-overflow: ellipsis; /* Add an ellipsis (...) when the text overflows */
  }
}

.item-button.clear {
  background-color: #8f6e7b
  ; /* Replace #yourColor with the color you want */
}

.item-button.clear:hover {
  background-color: red; /* Slightly brownish color on hover */
}

.item-button.close-order {
  background-color: darkgreen; /* Dark green by default */
  width: 100%; /* Full width */
}

.item-button.close-order:hover {
  background-color: green; /* Lighter green on hover */
}

.item-button.update {
  background-color: #8AADB4; /* Dark green by default */
}

.item-button.update:hover {
  background-color: #52676C; /* Lighter green on hover */
}


/* Tablet and above */
@media (min-width: 768px) {
  .global-container {
    flex-direction: column; /* Arrange items vertically */
    justify-content: space-around; /* Distribute items evenly with space around them */
  }
}

/* Desktop and above */
@media (min-width: 1024px) {
  .app-container {
    max-width: 80% !important; /* Set max width to 80% of the screen width */
    margin: 0 auto !important; /* Center the container */
  }
  .global-container {
    width: 100%; /* Set width to 100% of .app-container */
  }
  .container-dynamic-button {
    grid-template-columns: repeat(4, 1fr); /* 4 columns for desktop */
  }
}